.containerheader {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;

  .header_items {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.6rem;
      color: #282051;
    }

    .headerlogo {
      width: 30px;
      height: 20px;
    }
  }

  .avatar {
    display: flex;
    align-items: center;
    gap: 1rem;

    .avatarpicture {
      width: 32px;
      height: 36.69px;
      border-radius: 8px;
    }

    strong {
      font-size: 1.2rem;
      color: #333333;
    }

    .arrow {
      font-size: 2rem;
      color: #333333;
    }
    button {
      border: none;
      background: none;
    }

    .popup {
      width: 18.8rem;
      height: 16rem;
      border-radius: 12px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
      background: #ffffff;
      border: 1px solid #e0e0e0;
      position: absolute;
      top: 8.3rem;
      right: 8rem;
      padding: 1rem;

      .popupone {
        background: #f2f2f2;
        border-radius: 8px;
      }

      p {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #4f4f4f;
        font-size: 1.2rem;
        padding: 1rem;

        .popupicon {
          font-size: 1.8rem;
        }
      }

      .logout {
        padding-top: 2.5rem;
        border-top: 1px solid #e0e0e0;

        button {
          display: flex;
          align-items: center;
          gap: 1rem;
          border: none;
          background: none;
          font-size: 1.2rem;
          color: #eb5757;
          padding: 0 1rem;

          &:hover {
            filter: opacity(0.9);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
          }

          .popupicon {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

.navigation {
  text-align: center;
  padding-top: 3rem;

  strong {
    font-size: 3.6rem;
    font-weight: 400;
  }

  p {
    font-size: 1.8rem;
    padding-top: 1rem;
  }
}

.card {
  margin: 5rem auto;
  max-width: 80rem;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #e0e0e0;

  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 2rem 8rem;
  }

  .profiletitle {
    h6 {
      font-size: 2.4rem;
      font-weight: 400;
    }

    p {
      color: #828282;
      font-size: 1.3rem;
      line-height: 3rem;
    }
  }

  .buttonedit {
    .link_edit {
      font-size: 1.6rem;
      border-radius: 8px;
      border: 1px solid #828282;
      color: #828282;
      padding: 0.5rem 3rem;
      background-color: #ffffff;
      text-decoration: none;

      &:hover {
        filter: opacity(0.9);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .photo {
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    gap: 20rem;
    padding: 2rem 8rem;
    border-bottom: 1px solid #e0e0e0;

    p {
      font-size: 1.3rem;
      color: #bdbdbd;
      text-transform: uppercase;
    }

    .avatarpicture {
      width: 72px;
      height: 72px;
      border-radius: 8px;
    }
  }

  .info,
  .password {
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    gap: 20.5rem;
    padding: 2rem 8rem;
    border-bottom: 1px solid #e0e0e0;

    strong {
      font-size: 1.8rem;
      font-weight: 500;
    }

    p {
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #bdbdbd;
    }
  }

  .password {
    border-bottom: none;
  }
}
